<div id="<%= dom_id tax_regime %>">
  <p>
    <strong>Tax regime name:</strong>
    <%= tax_regime.tax_regime_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= tax_regime.status %>
  </p>

</div>
