<p style="color: green"><%= notice %></p>

<% content_for :title, "Contacts" %>

<h1>Todos os Contatos</h1>

<div id="contacts">
  <% @contacts.each do |contact| %>
    <%= render contact %>
    <p>
      <%= link_to "Ver contato", contact %>
    </p>
  <% end %>
</div>

<%= link_to "New contact", new_contact_path %>