<div id="<%= dom_id sub_segment %>">
  <p>
    <strong>Sub segment name:</strong>
    <%= sub_segment.sub_segment_name %>
  </p>

  <p>
    <strong>Status:</strong>
    <%= sub_segment.status %>
  </p>

  <p>
    <strong>Segment:</strong>
    <%= sub_segment.segment_id %>
  </p>

</div>
