<div id="<%= dom_id sales_order %>">
  <p>
    <strong>Opportunity:</strong>
    <%= sales_order.opportunity_id %>
  </p>

  <p>
    <strong>Total price:</strong>
    <%= sales_order.total_price %>
  </p>

</div>
