<p style="color: green"><%= notice %></p>

<% content_for :title, "Sales orders" %>

<h1>Sales orders</h1>

<div id="sales_orders">
  <% @sales_orders.each do |sales_order| %>
    <%= render sales_order %>
    <p>
      <%= link_to "Show this sales order", sales_order %>
    </p>
  <% end %>
</div>

<%= link_to "New sales order", new_sales_order_path %>
